.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.App-header {
  text-align: left;
  background-color: #474747;
  height: 50px;
  padding: 10px;
  color: #add8e6;
}

.App-title {
  font-size: 1.5em;
}

.page-content {
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  height: calc(100% - 70px);
}

.section-image-detail {
  background-color: white;
  display: inline-block;
  position: relative;
  height: 350px;
  width: 500px;
}
.section-search-form {
  position: relative;
  float: right;
  width: 260px;
}
.section-image-list {
  position: relative;
  box-sizing: border-box;
  clear: both;
  height: 190px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}
